<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536378613546-mpqunte4q9h1nt25l2qsgi07ftehsc9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536378613546-mpqunte4q9h1nt25l2qsgi07ftehsc9r</string>
	<key>API_KEY</key>
	<string>AIzaSyDKdA_WJ5y7CoHzB8an_U00QgvAY5gQR4s</string>
	<key>GCM_SENDER_ID</key>
	<string>536378613546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naifarm.app.stg</string>
	<key>PROJECT_ID</key>
	<string>naifarm-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>naifarm-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536378613546:ios:24fdb3fee18b35f44b0853</string>
</dict>
</plist>